{sub_dirs, ["src"]}.

{erl_opts, [debug_info, fail_on_warning, {d, 'WITH_JIFFY'}]}.

{deps_dir, "deps"}.
{deps, [
  {lager, "2.*", {git, "git://github.com/basho/lager.git", "master"}},
  {jiffy, "0.*", {git, "git://github.com/davisp/jiffy.git", "master"}},
  {bcrypt, "0.*", {git, "git://github.com/smarkets/erlang-bcrypt.git", {tag, "0.5.0"}}},
  {erl_streams, ".*", {git, "git://github.com/epappas/erl_streams.git", {branch, "master"}}}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.